{
    "databaseURI": "mongodb://mongo:27017/my-db",
    "appId": "parse_app_id_starter",
    "masterKey": "1234567890",
    "serverURL": "http://23.239.30.142:1337/parse",
    "cloud": "./cloud/main.js",
    "mountPath": "/parse",
    "port": 1337
}
