{
"apps": [
{
"serverURL": "http://ss-parse-app-service/parse",
"appId": "parse_app_id_starter",
"masterKey": "1234567890",
"appName": "Parse Start app",
"iconName": ""
}
],
"users": [
 {
 "user":"myUser",
 "pass":"myPassword",
 "apps": [{"appId": "parse_app_id_starter"}]
 } ],
"iconsFolder": "icons"
}
